@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@keyframes liquid-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.liquid-glass {
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.3)
  );
  background-size: 200% 200%;
  animation: liquid-move 6s ease-in-out infinite;
}
